
.header1 {
    margin-bottom: 69px;
    padding-top: 69px;
    text-align: center;
    font-size: 25px;
    color: #514949;
}


.paragraph {
    text-align: center;
}
h1 {
    color: #b7b1a8;
}